<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="reaper.UIHarvester">

    <permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="ReservedSystemPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_reaper"
        android:roundIcon="@mipmap/ic_reaper_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="reaper.UIHarvester" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service android:name=".WebAccessibility"
            android:label="UIHarvesterService"
            android:canRetrieveWindowContent = "true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/webaccessibility_config" />
        </service>
    </application>

</manifest>